<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="mt-4 p-5 bg-secondary text-white rounded text-center">
          <h1>File upload in angular</h1>
          <p>On File select with validation for JPEG and PNG only</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-4 d-flex justify-content-center">
    <input type="file" (change)="onChangeFile($event)">
  </div>
  <div>
    <img src="http://onlinetestapi.gerasim.in/Resources/Images/469982203_unity1.png" alt="" srcset="">
  </div>
  <div>
    <img src="http://storeapi.gerasim.in/customer/1610357862256.png" alt="" srcset="">
  </div>
