<div class="topContainer">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.userName">
        <input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email">
        <input type="password" name="pswd" placeholder="Password" [(ngModel)]="signupObj.password">
        <button (click)="onSignUp()">Sign up</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input type="text" name="userNmae" placeholder="User Name"  [(ngModel)]="loginObj.EmailId">
        <input type="password" name="psswdord" placeholder="Password"  [(ngModel)]="loginObj.Password">
        <button (click)="onLogin()">Login</button>
      </form>
    </div>
  </div>
</div>
