
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="ngif">ng If</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-for">ng for</a>
      </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="ng-class">ng Class</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ng-style">ng Style</a>
    </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="users">users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="AddUser">Add User</a>
      </li> -->
      </ul>
      <form class="d-flex">
        <button class="btn btn-secondary" (click)="themeChange('primary')" type="button">Primary</button>
        <button class="btn btn-secondary" (click)="themeChange('dark')" type="button">Dark</button>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid mt-2 min-height">
    <router-outlet></router-outlet>
</div>
