.w-100 {
    width: 100%!important;
}
.d-flex {
    display: flex!important;
}
.flex-column {
    flex-direction: column!important;
}
.vh-100 {
    height: 100vh!important;
}
.h-100 {
    height: 100%!important;
}
.d-table {
    display: table!important;
}
.d-table-cell {
    display: table-cell!important;
}
.align-middle {
    vertical-align: middle!important;
}
.lead {
    font-size: 1.09375rem;
    font-weight: 300;
}


 
.card {
    box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
    margin-bottom: 24px;
}
.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #e5e5e5;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
@media (min-width: 576px) 
{
    .m-sm-4 {
        margin: 1.5rem!important;
    }
}
.form-control-lg {
    border-radius: 0.3rem;
    font-size: .925rem;
    min-height: calc(2.1875rem + 2px);
    padding: 0.4rem 1rem;
}
