/* You can add global styles to this file, and also import other style files */
.primary .bg-secondary{
    background-color: gray !important;
    color: white !important;
}
.dark .bg-secondary{
    background-color: black !important;
    color: white !important;
}

.loader {
    width: 100%;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.loader span {
    font-size: 22px;
}
.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin:5px;
    background-color: teal;
    animation: bounce .5s alternate infinite;
}

.ball:nth-child(2){
    animation-delay: .16s;
}

.ball:nth-child(3) {
    animation-delay: .32s;
}
.ball:nth-child(4) {
    animation-delay: .48s;
}

@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }
    to {
        transform: translateY(-50px) scaleX(1);
    }
}