
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="empObj.name" >
      </div>
      <div class="col-md-4">
        <label>City</label>
        <input type="text" class="form-control" [(ngModel)]="empObj.city" >
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <label>Address</label>
        <input type="text" class="form-control" [(ngModel)]="empObj.address" >
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <table class="table table-bordered">
      <tr>
        <td>
          Name
          <input type="text" name="nam" class="form-control" [(ngModel)]="familyObj.name"/>
        </td>
        <td>
          Age
          <input type="text"  name="dsds" class="form-control" [(ngModel)]="familyObj.age"/>
        </td>

        <td>
          Relation
          <input type="text"  name="namfgf" class="form-control" [(ngModel)]="familyObj.relation"/>
        </td>
        <td>
         <button class="btn btn-sm btn-primary" (click)="addFamily()">add</button>
        </td>
      </tr>
      <tr *ngFor="let item of empObj.familyMembers">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.relation}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <button class="btn btn-primary" (click)="ONsAVE()">Save </button>
  </div>
</div>
